main {
  width: 100vw;
  height: 100vh;
  border: 1px solid gray;

  .container {
    width: fit-content;
    margin: 2rem auto;
    table,
    th,
    td {
      border: 1px solid black;
      border-collapse: collapse;
    }
    table {
      th,
      td {
        padding: 15px;
      }
      td:nth-child(even),
      th:nth-child(even) {
        background-color: #d6eeee;
      }
    }
  }
}
